<ion-tabs class="tabs-icon-top bar-custom-color">
    <ion-tab title="Music" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes"
             href="#/app/file/file-music">
        <ion-nav-view name="file-tab-music"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Video" icon-off="ion-ios-film" icon-on="ion-ios-film"
             href="#/app/file/video">
        <ion-nav-view name="file-tab-video"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pictures" icon-off="ion-images" icon-on="ion-images"
             href="#/app/file/picture">
        <ion-nav-view name="file-tab-picture"></ion-nav-view>
    </ion-tab>

</ion-tabs>